body {
	font-family: 'Vollkorn';
	letter-spacing:2px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

/*
 * Flash messages
 */

.alert {
	margin: 20px 0px;
	z-index: 100;
}

.alert li {
	list-style-type: none;
}

#home_page .alert {
	position: fixed;
    right: 20px;
    top: 20px;
}

#home_page .bootstrap-growl {
	font-size: 2em;
}

/*
 * Nav and logo
 */

.navbar {
	background-color: #FFC208;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 0px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(232, 177, 7, 0.9);
    color: #A94442;
}

.navbar p {
	color: #555;
    font-size: 12px;
    margin-top: 17px;
}

.navbar a {
	color: #FFF;
	text-transform: uppercase;
	font-size: 18px;
	transition: background-color 1s ease, color 1s ease;
}

#logo {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 354px;
    z-index: 99;
}


/*
 * Home page
 */

#map_canvas {
	height: 400px;
    width: 100%;
}

.supplier_card_wrap {
	padding: 10px;
}

.supplier_card {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #999999;
	font-size: 16px;
	line-height: 24px;
    padding: 10px 15px;
    background: none repeat scroll 0 0 #E8F9F9;
    border-bottom: 3px solid #9BD8D7;
    border-radius: 8px;
    word-wrap: break-word;
    text-shadow: 1px 1px 0 #FFFFFF;
    transition: all 0.5s ease;
}

.supplier_card:hover {
	background-color: #F5FFFF;
	border-bottom: 3px solid #C1D8D7;
}

.supplier_card strong{
	color: #30B6B4;
	font-size: 21px;
	text-shadow: 0px 2px 3px #fff;
	font-family: 'Josefin Slab';
}

.tag_list {
	font-weight: 700;
	color: #7CBAB9;
}

.edit_icon {
	padding: 0px 5px;
	cursor: pointer;
	visibility: hidden;
}

.supplier_card:hover .edit_icon{
	visibility : visible;
}

.supplier_card li:first-child img {
	position: relative;
	top: -2px;
}

.supplier_card li:last-child {
	height: 19px;
}

.supplier_card.deleted {
	background-color: #DFE3E3;
	color: #ADC5C5;
	border-bottom: 3px solid #C8CECE;
}

.supplier_card.deleted .tag_list, .supplier_card.deleted strong {
	background-color: #DFE3E3;
	color: #ADC5C5;
}

.form_in_place input {
	width: 300px;
	height: 19px;
}

.icon-bar {
	background-color: #000;
}

@media screen and (max-width: 970px) {
    #logo{
      display: none;
    }
}

/*
 * New supplier page
 */

#new_supplier_page {
	background-color: #E8F9F9;
}

#new_supplier_page .form_wrap {
	background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: auto;
    margin-bottom: 40px;
    margin-top: 60px;
    padding: 40px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}


#new_supplier_page #logo_link {
	width: 215px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#new_supplier_page #home_link {
	font-size: 20px;
	width: 60px;
	display: block;
	margin-left: auto;
    margin-right: auto;
    color: #D6A100;
    text-transform:uppercase;
}


#new_supplier_page input:required {
    background: url("../img/icons/required.png") no-repeat scroll 300px 12px #FFFFFF;
    outline: medium none;
}

#new_supplier_page input[type="submit"] {
	background-color: #4F4E4C;
    border: medium none;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    margin: 20px 0 0;
    outline: medium none;
    padding: 6px 28px;
    width: auto;
}

.field_with_errors input {
	border-color: #A94442;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

@media screen and (max-width: 420px) {
	#new_supplier_page .form_wrap{
      width: 100%;
    }
}