ul {
    list-style-type: none;
    padding: 0px;
}

#map_canvas {
	height: 400px;
    width: 100%;
}

/*
 * Nav and logo
 */

#nav {
	background-color: rgba(255, 194, 8, 0.9);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.16);
    height: 50px;
    left: 0;
    min-width: 700px;
    position: absolute;
    text-align: center;
    top: 400px;
    width: 100%;
    z-index: 99;
}

#logo {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
}


/*
 * Supplier listings
 */

#nav + .container {
	margin-top: 70px;
}

.supplier_card_wrap {
	padding: 10px;
}

.supplier_card {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #999999;
	font-size: 16px;
	line-height: 24px;
    padding: 10px 15px;
    background: none repeat scroll 0 0 #E8F9F9;
    border-bottom: 3px solid #9BD8D7;
    border-radius: 8px;
}

.supplier_card strong{
	color: #35CBC9;
	font-size: 21px;
}

.tag_list {
	font-weight: 700;
	color: #7CBAB9;
}

.edit_icon {
	padding: 0px 5px;
	cursor: pointer;
}

li:first-child img {
	position: relative;
	top: -2px;
}

.form_in_place input {
	width: 300px;
}

/*
 * New supplier page
 */

#new_supplier_page {
	background-color: #E8F9F9;
}

#new_supplier_page .form_wrap {
	background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: auto;
    margin-bottom: 40px;
    margin-top: 60px;
    padding: 40px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}


#new_supplier_page #logo_link {
	width: 215px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#new_supplier_page #home_link {
	font-size: 20px;
	width: 60px;
	display: block;
	margin-left: auto;
    margin-right: auto;
    color: #D6A100;
    text-transform:uppercase;
}


#new_supplier_page input:required {
    background: url("../img/icons/required.png") no-repeat scroll 300px 12px #FFFFFF;
    outline: medium none;
}

#new_supplier_page input[type="submit"] {
	background-color: #4F4E4C;
    border: medium none;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    margin: 20px 0 0;
    outline: medium none;
    padding: 6px 28px;
    width: auto;
}

.field_with_errors input {
	border-color: #A94442;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}